

<h1 class="pt-5 pb-3"> Editing Project</h1>

<%# not using shared bc form we dont have projectController set up  %>
<%# render 'shared/project', project: @project %>
<%= form_with(model: @project, url: dashboard_path ) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being created</h2>
      <ul>
        <% @project.errors.each do |error|%>
          <li><%= error.full_message %></li>
        <%end%>
      </ul>
    </div>
  <%end%>

<%# <div>Questions</div> %>

  <div class="field">
    <%= f.label :street_number_and_name %>
    <%= f.text_field :street_name, required: true, class: '' %>
  </div>
  
  <div class="field">
    <%= f.label :project_location_city %>
    <%= f.text_field  :city, required: true, class:'', value: 'Hot Springs' %>
  </div>

  <div class="field">
    <%= f.label :project_location_state %>
    <%= f.text_field  :state, required: true, class:'', value: 'Arkansas' %>
  </div>

  <div class="field">
    <%= f.label :project_location_zip_code%>
    <%= f.number_field :zip_code, value:'71901' %>
  </div>

  <div class="field">
    <%= f.label :length_of_retaining_wall%>
    
    <i >(in Feet) </i>
    <%= f.number_field :length%>
  </div>

  <div class="field">
    <%= f.label :average_height %>
    
    <i>(in feet)</i>
    <%= f.number_field  :height%>
  </div>

  <div class="field">
    <%= f.label :average_width %>
    
    <i>(in inches <br/> 
    ususally 12 inches wide) </i>
    <%= f.number_field  :width%>
  </div>
  <div class="field">
    <%= f.label :desired_start_date%>
    
    <i>(Optional) </i>
    <%= f.date_field  :desired_start_date%>
  </div>
   <div class="field">
    <%= f.label :desired_completion_date%>
    
    <i>(Optional) </i>
    <%= f.date_field :desired_completion_date%>
  </div>


  <div class="actions">
   <%# <div class="input_box button"> %>
    <%= f.submit %>
    <%# </div> %>
  </div>
  
  <% end%>

<%# link_to 'Show', @project,  %>
<br>
<%= link_to 'Back', :back  %>