



<div class="cont">
  <%# <h1>Dashboard#index</h1> %>
  <h2 class="mt-5">Welcome to your dashboard <%= current_user.full_name%>!</h2>
  <%# if current_user.admin?%>
    <%# <h2>Welcome Admin!</h2> %>
  <%# end %> 
  <h4 style="margin: 2rem 2em;">add a project and get a free estimate in your email</h4>
  <%= link_to 'Add a Project', new_dashboard_url, class: 'add-button' %> 
  <h1><%= current_user.first_name %>'s projects:</h1>
             
  <h2>user id: <%= current_user.id%></h2>
          
  <div class="container-bs">
    <table>
      <thead>
        <tr>
          <th>project id</th>
            <%# <th>owner's name</th> %>
          <th>Length (ft)</th>
          <th>Height (ft)</th>
          <th>Width (ft)</th>
          <th>Location</th>
          <th>Desired Start Date</th>
          <th>Desired Completion Date</th>
          <th>Edit</th>
          <th style="">Delete</th>
        </tr>
      </thead> 
      <tbody class="tbody">
        <% @projects.each do |project| %>
          <tr>
            <td> 
              <%= project.id%>
            </td>
            <td>
              <%= project. length%>
            </td>
            <td> 
              <%= project.height %> 
            </td>
            <td>
              <%= project.width %>
            </td>
            <td>
              <%= project.street_name %> <%=project.city %>
            </td>
            <td>
              <% if project.desired_start_date %>
              <%= project.desired_start_date %>
              <%else %>
              <%= 'no date selected '%>
              <% end %>
            </td>
            <td>
              <% if project.desired_completion_date %>
                <%= project.desired_completion_date %>
              <%else %>
                <%= 'no date selected '%>
              <% end %> 
            </td>
            <td>
              <%= link_to 'Edit', edit_dashboard_url(project), class:'edit-button' %>
            </td>
            <td>
              <%= link_to 'Delete', dashboard_path(project), method: :delete, data: {confirm: "Are you sure"}, class:'edit-button' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>              
<%# </div> %>
<%# leave last div open so it overlaps with footer copyright partial  %>
  <style>



  .add-button {
    display: block;
    position: relative;
    padding: 1rem 2rem;
    margin: auto;
    width: 9rem;
    color: white;
    background-color: var(--primary);
    margin: 2em auto;
  }
  .add-button:hover {
    text-decoration: none; 
    /* color: black; */
    /* border: 4px dashed red; */
     -webkit-filter: brightness(1.3);
  -moz-filter: brightness(1.3);
  -o-filter: brightness(1.3);
  -ms-filter: brightness(1.3);
  }
  .edit-button {
    display: block;
    position: relative;
    padding: 1rem 2rem;
    /* margin: auto; */
    width: 9rem;
    color: white;
    background-color: var(--primary);
    margin: 1em auto;
  }
    .show-button {
    display: block;
    position: relative;
    /* padding: 1rem 2rem; */
    height: 6rem;
    margin: auto;
    width: 9rem;
    color: white;
    background-color: var(--primary);
    /* margin: 1em auto; */
  }
  .delete-button:hover {
     -webkit-filter: brightness(1.3);
  -moz-filter: brightness(1.3);
  -o-filter: brightness(1.3);
  -ms-filter: brightness(1.3);
  }
    .delete-button {
    /* display: inline-block; */
    display: block;
    position: relative;
    /* padding: 1rem 2rem; */
    margin: auto;
    height: 6rem;
    width: 9rem;
    color: white;
    background-color: var(--primary);
    /* margin: 1em auto; */
    /* margin: auto; */
  }
  .edit-button:hover {
     -webkit-filter: brightness(1.3);
  -moz-filter: brightness(1.3);
  -o-filter: brightness(1.3);
  -ms-filter: brightness(1.3);
    /* text-decoration: none; */
  } 


  </style>