<h1>Dashboard#index</h1>
<h1>Welcome to your dashboard <%= current_user.full_name%>!</h1>


<p>Find me in app/views/dashboard/index.html.erb</p>

  <li class="nav-item">
          <%= link_to 'Home', root_path, class:"nav-link" %>
        </li>
        
        <li class="nav-item">
          <%= link_to 'Edit Profile', edit_user_registration_path,class:"nav-link"%>

        </li>
        <li class="nav-item">
          <%= link_to 'Logout', destroy_user_session_path, method:"delete", class:"nav-link", id: "logout" %>

        </li>
      
        <% if current_user.admin?%>
         <h1>Welcome Admin!

        <% else %>

        <h2>Welcome back user </h2>
       

        <% end %>


<%= link_to 'Create a Project & get a free estimate', dashboard_new_url %>

<h3>projects list: </h3>
  <h4>projects: </h4>
  <%= @projects %>
  <h5>projects loop </h5>
  <ul>
        <% @projects.each do |project| %>
          <li>
          <%= project.height %>
          <%= project.width %>
          <%= project.zip_code%>
          <h2>project owner:</h2>
          <%= project.user_id%>
          </li>
          <% end %>
  </ul>
  <h3>end project list </h3>