<p id="notice">
  <%= notice %>
</p>

<p>
<strong>Project name: </strong>
<%= @project.title%>
</p>

<p>
 <strong>Scheudled Start Date: </strong><br>
 (subject to change)
 <%= @project.scheduled_start_date%>
 </p>

 <p>
 <strong>Scheduled Completion Date: </strong>
 <%= @project.scheduled_end_date%>
 </p>

 <p>
 <strong>Project Location: </strong>
 <%= @project.address  %> <%= @project.zip_code%>
 </p>

 <p>
 <strong>Project details: </strong>
 length: 
 <%= @project.length%>
 <br>
  height: 
 <%= @project.height%>
 <br>
 width: 
 <%= @project.width%>

 </p>
 <%= link_to 'Edit', edit_project_path(@project)%> |
 <%= link_to 'Back', projects_path %>