

<div class="top-cont container-fluid py-5">
    <h1>This is the careers.html page </h1>
        <div class="appl">
         <%# 
to do 
create admin user
create admin dashboard.
show users 
show projects sort by date created,
sort by 

 %>
 <%# alterante header for form %>
<%# form_with(model:[ @user, project], local: true) do |f| %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :desired_position %><br />
    <%# f.select :position, autofocus: true, autocomplete: "position" %>
    <%= f.select(:position, ['full-time', 'part-time', 'seasonal'], {}, { :class => 'position-field'}) %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

    <div class="field">
    <%= f.label :first_name %> <br />
    <%= f.text_field :first_name, autocomplete: "first name" %>
  </div>

  <div class="field d-none">
    <%= f.label :last_name %> <br />
    <%= f.text_field :last_name, autocomplete: "last name" %>
  </div>
  
  <div class="field">
    <%= f.label :phone_number %> <br />
    <%= f.text_field :phone_number, autocomplete: "phone number"%>
  </div>



  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <span class="password-min" >
    <em>(<%= @minimum_password_length %> characters minimum)</em></span>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions mt-3">
    <%= f.submit "Sign up" %>
  </div>
<% end %>


   <h2>Create a project </h2>



        </div>
                <h2 class="m-auto d-block">Current Positions</h2>
        <br>
        <h3 class="m-auto d-block">Crew member Construction/Landscaping</h3><br>
        <h4 class="m-auto d-block"><span class="subtitle">location: </span>Hot Springs</h4>
      <div class="wrapper">

        <div class="card card--19">
          <div class="card__header card__header--19">
            <div class="card__watermark" data-watermark="Team"></div>

            <img src="<%= asset_path 'favicon.ico' %>" alt="Nike" class="card__logo card__will-animate">

            <span class="card__price card__will-animate">$120</span>

            <h1 class="card__title card__will-animate">Part time </h1>
            <span class="card__subtitle card__will-animate">
              <table>
              <tr><td>Learn on the job</td></tr>
              <tr><td> leadership qualities </td></tr>
              <tr><td>Teamwork is essential</td></tr>
              </table>
            </span>

            </div>

          <div class="card__body">
            
            <img src="<%= asset_path 'no-bg-elements/sign-men-working-nobg.png' %>" alt="Workers" class="card__image apply-image-1 card__will-animate">
            <div class="card__wish-list card__wish-list--19 card__will-animate apply-button" position="part-time" onclick="toggleForm(this.position)" >Apply</div>

            <span class="card__category card__will-animate d-none">Men's running shoe</span>
          </div>
        </div>

        <!-- Nike Solstice -->
        <div class="card card--solstice">
          <div class="card__header card__header--solstice">
            <div class="card__watermark" data-watermark="Work"></div>

            <img src="<%= asset_path 'favicon.ico' %>" alt="Nike" class="card__logo card__will-animate">

            <span class="card__price card__will-animate">$12-16$</span>

            <h1 class="card__title card__will-animate">full-time position</h1>
            <span class="card__subtitle card__will-animate">
              <table>
              <tr><td>Consistent and regular work schedule</td></tr>
              <tr><td>Custom Work Gear</td></tr>
              <tr><td>Start working immediately</td></tr>
              </table>
            </span>

          </div>

          <div class="card__body">
          
            <img src="<%= asset_path 'no-bg-elements/worker-jackhammer-nobg.png' %>" alt="Nike Solstice" class="card__image apply-image-2 card__will-animate">
            <div class="card__wish-list card__wish-list--solstice card__will-animate" position="full-time" onclick="toggleForm(this.position)" >get started</div>

            <span class="card__category card__will-animate d-none">Men's shoe</span>
          </div>
        </div>

        <!-- Nike Huarache -->
        <div class="card card--huarache">
          <div class="card__header card__header--huarache">
            <div class="card__watermark" data-watermark="$$$"></div>

            <img src="<%= asset_path 'favicon.ico' %>" alt="Nike" class="card__logo card__will-animate">

            <span class="card__price card__will-animate">competitive pay $</span>

            <h1 class="card__title card__will-animate">summer/winter seasonal position</h1>
            <span class="card__subtitle card__will-animate">
              <table>
              <tr><td>Weekly Pay</td></tr>
              <tr><td>learn on site</td></tr>
              <tr><td>summer schedule</td></tr>
              </table>
            </span>
            
          </div>
          
          <div class="card__body">
          <img src="<%= asset_path 'no-bg-elements/tools-removebg.png' %>" alt="Nike Huarache" class="card__image apply-image-3 card__will-animate">
            <a class="card__wish-list card__wish-list--solstice card__will-animate apply-button" position="seasonal" onclick="toggleForm(this.position)">Apply</a>

            <span class="card__category card__will-animate d-none">Men's shoe</span>
          </div>
        </div>
      </div>

      <div class="cards-placeholder ">
        <div class="cards-placeholder__item"></div>
        <div class="cards-placeholder__item"></div>
        <div class="cards-placeholder__item"></div>
      </div>
  <%= link_to 'Back', :back  %>
     <%= javascript_pack_tag 'careers-new' %>
</div>

<script>
  // var buttons = document.querySelectorAll(".appl-button");
  // buttons.onClick('toggle-form')

  function toggleForm(position) {
  
      var positionSelected = position;
      var form =  
      document.getElementsByClassName('appl')[0];
      
        var positionField = document.getElementsByClassName('position-field')[0];
      if (form.hasClass('open')) {
        positionField.value = '';
        form.classList.toggle("open");
      } else {


      positionField.value = positionSelected;

      form.classList.toggle("open");
      }
      
  }

  




  
</script>

    