  <%# <div class="centered"> %>

    <div class="top-cont">
      <div class="container">
    <%= link_to root_path do %>
      <%# <img class="logo" src="/images/SigmasCoin.png" /> %>
      <%#= image_tag("SigmasCoin.png", class:"logo") %>
      <div class="headline">S Construction Co</div>
    
      <% end %>  

      <h1>Admin dashboard</h1>
      <h2>Users:</h2>

       <!--<% if user_signed_in? %>
        Signed in as <%= current_user.email %>. Hello <%= current_user.first_name%> <%= current_user.last_name%>
        <%= link_to 'Sign out', destroy_user_session_path %>
    <% else %>
        <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
    <% end %> 
      <-->
      </div>
    <!-- <img class="logo" src="/images/Sigma_logotype_var_09 copy.png" /> -->
       <%#= video_tag "/videos/Sigmas_Coin.mp4" , poster:'ScreenShot-sigmas-video.png', class:'video', controls:true %>
        
    <%# </div> %>
  </div>
  
  <div class="container-short">
    
 <%#= render "shared/new" %>


  </div>

  <div class="social-media-links footer centered d-none">
    <span class="fa-stack">
      <a href="https://www.facebook.com">
      <%#= image_tag("/icons/icon-facebook-round.png", class:"social-media-img") %>
        <%# <img class="social-media-img" src="images/icons/icon-facebook-round.png"> %>
      </a>
    </span>
    <span class="fa-stack">
      <a href="#your-link">
        <%# <img class="social-media-img" src="images/icons/twitter.png"> %>
        <%#= image_tag("/icons/twitter.png", class:"social-media-img") %>
      </a>
    </span>
    <span class="fa-stack">
      <a href="#your-link">
      <%#= image_tag("/icons/icon-youtube.png", class:"social-media-img") %>
        <%# <img class="social-media-img" src="images/icons/icon_youtube.png"> %>

      </a>
    </span>
    <span class="fa-stack">
      <a href="#your-link">
      <%#= image_tag("icons/icon_instagram2.png", class:"social-media-img") %>
        <%# <img class="social-media-img" src="images/icons/icon_instagram2.png"> %>

      </a>
    </span>
    <!-- <a href="https://www.instagram.com/sigmasbank/" target="_blank"><img class="logo" src="/images/instagram.png"/></a>
                    <a href="https://www.facebook.com/sigmasbank/" target="_blank"><img class="logo" src="/images/facebook.png"/></a>
                    <a href="https://www.youtube.com//sigmasbank/" target="_blank"><img class="logo" src="/static/youtubelogo.png"/></a>
                    <a href="https://www.twitter.com//sigmasbank/" target="_blank"><img class="logo" src="/static/twitterlogo.png"/></a>
                     -->
  </div>

  <!--<a href="sigmasbank@gmail.com" style="color: white; font-size: 1rem;" target="">sigmasbank@gmail.com</a>-->

  
  
  <%#= render 'shared/copyright' %>
  

<%# </div> %>


