<div class="d-flex flex-column col-12 cost-partial" style="">
    <div class="cost-top" style="">
    <h2 class="featurette-heading"> Reinforced Concrete Retaining Wall Cost </h2>
    <h4 class="text-muted">(With footer already poured)</h4>
    <div id="concrete-wall-image-container">
     <%= image_tag("no-bg-elements/wall-labeled-nobg.png", alt: "reinforced concrete wall model illustration labeled", class: 'cost-image', id:"concrete-wall-image", :style => "border-radius: 20px;margin: auto;") %>
     </div>
      <%= image_tag("no-bg-elements/worker-standing-handsup-nobg.png", alt: "concrete specialist construction worker", id: 'worker-standing', class: '',:style => "border-radius: 20px;margin: auto;") %>
     <%= image_tag("no-bg-elements/worker-squat-nobg.png", alt: "concrete specialist construction worker", id: 'worker-squatting', class: '',:style => "border-radius: 20px;margin: auto;") %>

          <%= image_tag("no-bg-elements/worker-shouting-nobg.png", alt: "concrete specialist construction worker", id: 'worker-shouting', class: '',:style => "border-radius: 20px;margin: auto;") %>

          <%= image_tag("no-bg-elements/worker-pose-nobg.png", alt: "concrete specialist construction worker", id: 'worker-pose', class: '',:style => "border-radius: 20px;margin: auto;") %>
    <h2 class="cost-subtitle top-float" style="z-index: 9;">complete <br> solutions</h2>
    </div>
    <div class="cost-bottom" style="z-index: 9;">
        
        <h3 class="top-float text-muted">Starting From</h3>
        <h2 class="top-float" >$7.50 / ft²</h2>
        <%= link_to 'Schedule now', new_dashboard_url, class: 'new-project top-float' %>
        <span class="bubble first">20,000 psi strength</span>
        <span class="bubble second">Highest quality materials</span>
        <span class="bubble third">Built to Last</span>
    </div>
</div>
<%= javascript_pack_tag 'cost-partial' %>


