
   <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top justify-content-center align-content-center align-items-center"
     style="margin: auto;"
   >
    <!-- Text Logo - Use this if you don't have a graphic logo -->
    <div class="navbar-brand"
      style="">
      
                <%= image_tag("construction-elements/forms.png", alt: "My logo", size: '50x50', :style => "padding: 10px 5px;") %>

                
     
    <%= link_to 'SEGURA Construction Co,', root_path, class:"nav-title" %>

     <button class="hamburger hamburger--elastic d-none" type="button"
        aria-label="Menu" aria-controls="navigation">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>
    </div>
 
 
    
 <div class="button d-none">
 </div>
    
      <ul class="navbar-nav"
        style="border:2px dashed yellow; "
      >

        <%# <li class="nav-item d-none"> %>
          <%# <a class="nav-link active" aria-current="page" href="#">About</a> %>
        <%# <%= link_to 'About Us', home_about_path, class:"nav-link" %>

        <%# </li> %>
     


        <% if user_signed_in?%>
        <!--<li class="nav-item">
          <%= link_to 'dashboard', 'dashboard/index', class:"nav-link" %>
        </li> -->
        <% if current_user.admin %>
           <li class="nav-item ">
          <%# <a class="nav-link" href="#">Features</a> %>
          <%= link_to 'see users', users_index_path, class:"nav-link " %>
        </li>
        <% end %>
        <li class="nav-item ">
          <%= link_to 'Dashboard', dashboard_index_path, class:"nav-link" %>
        </li>
      
        <li class="nav-item">
          <%= link_to 'Edit Profile', edit_user_registration_path,class:"nav-link"%>

        </li>
        <li class="nav-item">
          <%= link_to 'Logout', destroy_user_session_path, method:"delete", class:"nav-link d-desktop", id: "logout" %>

        </li>
      

        <% else %>
  
        
        <li class="nav-item">
          <%= link_to 'Log In', new_user_session_path, class:"nav-link"%>

        </li>
  
        <% end %>
          <li class="nav-item">
          <%= link_to 'Our mission', home_our_mission_url, class:"nav-link"%>
          </li>
  <li class="nav-item">
          <%# <%= link_to 'Contact Us', contact_us class:"nav-link"%> 
          <a href="tel:13432212" id="call-now" >62384<i class="fa fa-phone fa-2x contact-us-btn"></i>  </a>
          </li>
        
        <li class="nav-item">
 
 <a href="email:SeguraConstruction Co"  id="call-now" ><i class="fa fa-phone fa-2x contact-us-btn"></i>  </a>
 </li>

        <%# <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li> %>
        <%# <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> %>
      </ul>
    
  <%# </div> %>
</nav>
 <%# <%else%> 
 <%# <%end  %> 