<%# 
to do 
create admin user
create admin dashboard.
show users 
show projects sort by date created,
sort by 

 %>
 <%# alterante header for form %>
<%# form_with(model:[ @user, project], local: true) do |f| %>

   <h2>Create a project </h2>
<%= form_with(model: @project, url: dashboard_index_path) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being created</h2>

      <ul>
        <% @project.errors.each do |error|%>
          <li><%= error.full_message %></li>
        <%end%>
      </ul>
    </div>
  <%end%>




  <!-- >  

  <div class="field">
    <%= f.label :description %>
    <p class="form-text">(give a brief description of your project)</p>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :project_address %>
    <%= f.text_field :address %>
  </div> 

  <div class="field date">
   <%= f.label :desired_completion_date %>
    <%= f.date_select :date %>
  </div>

  <div class="field date">
    <%= f.label :desired_start_date %>
    <%= f.date_select :date %>
  </div>
  < -->
  
  <div class="field">
    <%= f.label :street_number_and_name %>
    <%= f.text_field :street_name, required: true, class: '' %>
  </div>
  
  <div class="field">
    <%= f.label :project_location_city %>
    <%= f.text_field  :city, required: true, class:'', value: 'Hot Springs' %>
  </div>

  <div class="field">
    <%= f.label :project_location_state %>
    <%= f.text_field  :state, required: true, class:'', value: 'Arkansas' %>
  </div>

  <div class="field">
    <%= f.label :project_location_zip_code%>
    <%= f.number_field :zip_code, value:'71901' %>
  </div>

  <div class="field">
    <%= f.label :length_of_retaining_wall%>
    <span class="subtitle" style="width: auto; color: black;">(in Feet) </span>
    <%= f.number_field :length%>
  </div>

  <div class="field">
    <%= f.label :average_height_in_feet %>
    <%= f.number_field  :height%>
  </div>

  <div class="field">
    <%= f.label :average_width_in_inches%>
    <p class="subtitle" style="width: auto; color: black;">(ususally 12 inches wide) </p>
    <%= f.number_field  :width%>
  </div>
  <div class="field">
    <%= f.label :desired_start_date%>
    <p class="subtitle" style="width: auto; color: black;">(Optional) </p>
    <%= f.date_field  :desired_start_date%>
  </div>
   <div class="field">
    <%= f.label :desired_completion_date%>
    <p class="subtitle" style="width: auto; color: black;">(Optional) </p>
    <%= f.date_field :desired_completion_date%>
  </div>


  <div class="actions">
   <%# <div class="input_box button"> %>
    <%= f.submit %>
    <%# </div> %>
  </div>
  

  <%end%>


