<%# 
to do 
create admin user
create admin dashboard.
show users 
show projects sort by date created,
sort by 

 %>


   <h2>Create a project </h2>
<%= form_with(model: @project, url: dashboard_create_path) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being created</h2>

      <ul>
        <% @project.errors.each do |error|%>
          <li><%= error.full_message %></li>
        <%end%>
      </ul>
    </div>
  <%end%>




<!-- >  

   <div class="field">
    <%= f.label :description %>
    <p class="form-text">(give a brief description of your project)</p>
    <%= f.text_field :description %>
  </div>

<div class="field">
    <%= f.label :project_address %>
    <%= f.text_field :address %>
  </div> 

  <div class="field date">
   <%= f.label :desired_completion_date %>
    <%= f.date_select :date %>
  </div>

  <div class="field date">
    <%= f.label :desired_start_date %>
    <%= f.date_select :date %>
  </div>
 < -->

   <div class="field">
    <%= f.label :project_zip_code%>
    <%= f.number_field :zip_code%>
  </div>

   <div class="field">
    <%= f.label :average_length%>
    <%= f.number_field :length%>
  </div>

   <div class="field">
    <%= f.label :average_height%>
    <%= f.number_field  :height%>
  </div>

  <div class="field">
    <%= f.label :average_width%>
    <%= f.number_field  :width%>
  </div>



  <div class="actions">
   <%# <div class="input_box button"> %>
    <%= f.submit %>
    <%# </div> %>
  </div>
  

  <%end%>


