<div class="row my-5 gallery" id="container">
    <h1 class="mx-auto my-1">Recent Projects</h1>
     <div id="fullpage" onclick="this.style.display='none';"></div>
    <div class="col-12">
        <h2 class="my-3" >Lake House Foundation Wall</h2>
        <div style="" class="project-cont">
            <%= image_tag('wall-lake-straight.png', id:"toggle-fullscreen", alt: 'Lake Foundation wall')%>
        </div>
    </div>
    <br>
    <div class="col-12">
        <h2 class="mt-5 mb-3" style="">Rebar Reinforcement</h2>
        <div style="" class="project-cont">
            <%= image_tag('retaining-wall-rebars.jpeg', id:"toggle-fullscreen",alt: 'Rebar Reinforcements inside set forms')%>
        </div>
    </div>
    <br>
    <div class="col-12 d-none">
        <h2 class="mt-5 mb-2" >Rebar Reinforcement installation</h2>
        <div style="" class="project-cont">
            <%= image_tag('retaining-wall-rebars.jpeg', alt: 'Rebar installation')%>
        </div>
    </div>
    <br>
    <div class="col-12">
        <h2 class="mt-5 mb-2" >Project Basement Walls</h2>
        <div style="" class="project-cont">
            <%= image_tag('retaining-wall-outside-tall.jpeg', id:"toggle-fullscreen",alt: 'Tall wall project')%>
        </div>
    </div>
    <br>
    <div class="col-12">
        <h2 class="mt-5 mb-2" >Project Featuring Tall Walls</h2>
        <div style="" class="project-cont">
            <%= image_tag('retaining-wall-straight.jpeg', alt: 'Straight Retaining wall')%>
        </div>
    </div>
    <br>
    <div class="col-12">
        <h2 class="mt-5 mb-2">Poured Wall Corner</h2>
        <div style="" class="project-cont">
            <%= image_tag('retaining-wall-corner-nobg.png', alt: 'Retaining Wall Corner Poured')%>
        </div>
    </div>

    <%# link_to 'Home', home_index_url, class:"" %>
    <%# <%= link_to :back %>
</div>
<%= javascript_pack_tag 'gallery' %>
