    <div class="top-cont 
      container-fluid 
      row" 
      style=""
      >
      <div class='col-12 row d-flex mb-5'>

        <a href="<%= root_path%>" class="m-auto" >
          <%= image_tag("logo/gradient-logo-nobg-500x300.png", alt: "segura and company logo", class:"", id: "top-logo"
        )%>
        </a>    
      </div> 

      <div class="col-md-6
       d-flex
       " 
       style=""
       >
        <div class="" style="margin: auto;">
          <h1 class="top-section-title d-none"></h1>
          <h1 class=" text-break font-weight-bold
            text-muted mt-2 " >
            <small>Commercial</small> + <small>Residential </small>
          </h1>
          <h2 class="display text-uppercase
            text-break font-weight-bolder mt-2">Poured Concrete Foundation Retaining Walls 
          </h2> 
          <button class="cta-schedule" >
            <%= link_to 'Schedule a Project', new_dashboard_url, class:'', style:'font-size: 1rem;color: white;' %>
          </button>
          
        </div>
      </div>

      <div id='wall-img' class="col-md-6 d-flex 
        py-2 align-items-center" style="" >
        <%= image_tag("no-bg-elements/wall-side-nobg.png", alt: "poured concrete retaining wall illustration", id: 'wall-img-png', class: '',:style => "border-radius: 20px;margin: auto;") %>
      </div>
    
      <div class="round-card first" style="">
         <%= image_tag("no-bg-elements/concrete-wall.png", alt: "steel birchwood form", class: 'form-image',:style => "") %> <%= image_tag("no-bg-elements/concrete-wall.png", alt: "steel birchwood form", class: 'form-image right',:style => "") %>
          <span class="text" style="">
          <h3 class='card-title' style="">Reinforced Concrete Retaining Walls</h3>
          <h5>Steel Rebar Reinforcement </h5>
          <h5 class="card-subtitle">Has ultimate flexural strength greater than block  </h5>
          <h5>up to 30000 lbs of lateral resistance</h5>
          <h5 class="">1-4 weeks completion time depending on size</h5>
          <h5>Poured in one day</h5>
          <h5>Low maintainance </h5>
          <h5>Fire & Water Resistant  </h5>
          
           <%= link_to 'Schedule a Project', new_dashboard_url, class:'card-button' %>
          
        
        </span>
      </div>
  
      <div class="round-card second" style="" >
        <%= image_tag("no-bg-elements/framework-basement-top-nobg.png",alt: "formed walls foundation, basement, house" , class:"formwork-image", :style => "") %>
        <span class="text" style="">
          <h3 class='card-title' style="">Medium and Large Projects </h3>
        <h5>Structural Projects</h5> 
        <h5>Foundation Walls</h5>
        <h5 class="">Basement Walls </h5>
        <h5>Home Walls</h5>
        <h5>Parking Structure Walls</h5>
        <h5 class="">Lake Seawalls </h5>
        <%# <h5 class="gray">Residential and commercial retaining wall</h3> %>
        <%= link_to 'Project Gallery', home_gallery_url, class: 'card-button'%>
        </span>
      </div>

      <div class="round-card third" style="" >
        <%= image_tag("no-bg-elements/cgi-red-forms-standing-nobg.png",alt: "finished poured concrete retaining wall" , class:"form-image", :style => "") %>
            <span class="text" style="">
          <h3 class='card-title' style="">Concrete Steel Forms / Panels</h3>
          <h5 class="card-subtitle d-none">Industry Leading Performance </h5>
          <h5>
          Full 2”x2” crossmember support angle every foot for extra reinforcement.
          </h5>
          <h5>
           1,000 psf load-rated system
          </h5>
            <h5>
          100% sealed birch plywood face prevents moisture absorption</h5>
          <h5>
            stronger than fir plywood.
          </h5>
          <%# <h6>
           Sealed Birch plywood face prevents moisture absorption, eliminates
grain transfer for a smooth finish after removal.
          </h6> %>
         <%= link_to 'Video Gallery', home_about_url, class:'card-button' %>

         <%# link_to 'Our Forms', home_about_url, class:'card-button' %>
        </span>
       
      </div>

      <div class="container mt-5" >
    
 
        <%# <!- Contact Form  %>
        <% if user_signed_in? %>
          <h3>Add a project using this project form </h3>
          <%= render 'shared/project'%>
        <% else %>
          <%# <h4 class="d-none"> Create a free account first or log in to create a project and get an estimate</h4> %>
          <%# render 'shared/sign_up_create'%>
          <br>
          <p>
            <%= link_to 'Register', new_user_registration_path %>  or <%= link_to 'Sign in', new_user_session_path %>
          </p>
        <% end %> 
      </div> <!-- end of col -->
      <%= render 'shared/cost' %>
      <div class="
      <%# container %>
       col-12">

       <%# Retainging walls explained  %>
       <%# <div class="mobile"> %>
      <iframe width="90%" height="500" src="https://www.youtube.com/embed/UummY_mo85Y" title="YouTube video player" frameborder="0" allow=" encrypted-media; picture-in-picture" allowfullscreen></iframe>
      <%# </div> %>
           <!-- end of row -->
          <!-- end of container -->
          <!-- end of form -->
          <!-- end of contact -->

    </div>
  
      <%# end top container  %>
    <script>
  
      var skinnyDevice = window.matchMedia("(max-width: 600px)");
      var shortDevice = window.matchMedia("(max-height: 400px)");
      var logoSrcDesktop = "modern-blue-logos/modern-logo-nobg/modern-logo-full-shortname-bg-nobg.png"

      var logoSrcMobile = "modern-blue-logos/modern-logo-nobg/modern-logo-name-short-bg-nobg-250x200.png"
      var responsiveLogo = skinnyDevice.matches? logoSrcMobile : logoSrcDesktop; 

        // handleDeviceChange(smallDevice);
        // load page image static, schroll till img is 30% from top.
        // cat 30% get img position from top and right 
        // change position to fixed and set position.
        // at scroll 400 change background img. 
        // at 800 change to static and set position. 
        
      var imgEl = document.getElementById("wall-img-png");
   
      var imgCont = document.getElementById("wall-img");
      console.log(imgCont)
      console.log('imgCont logged');
    

      var imgContParent = imgCont.parentNode;
      console.log(imgContParent);    
      var imgWallFront = '<%= asset_path 'no-bg-elements/wall-front-nobg.png' %>';

      var imgWallFrontFull = '<%= asset_path 'no-bg-elements/wall-front-full-nobg.png' %>';

      var imgWallAngleFront = '<%= asset_path 'no-bg-elements/wall-front-angle-nobg.png' %>';

      var imgWallLabeled = '<%= asset_path 'no-bg-elements/wall-labeled-nobg.png' %>';

      // var imgWallSide = 'assets/no-bg-elements/wall-side-nobg.png';
      var imgWallSide = '<%= asset_path 'no-bg-elements/wall-side-nobg.png' %>';

      var imgWallSideTop = '<%= asset_path 'no-bg-elements/wall-side-nobg.png' %>';

      var imgWallBackDirtLeft = '<%= asset_path 'no-bg-elements/wall-rear-left-dirt-nobg.png' %>';

      var imgWallBackDirtRight ='<%= asset_path 'no-bg-elements/wall-rear-right-dirt-nobg.png' %>';

      var imgWallBackRight = 
      '<%= asset_path 'no-bg-elements/wall-rear-right-nobg.png'%>';


      //   n 3.1 you just get rid of the 'images' part of the path. So an image that lives in /assets/images/example.png will actually be accessible in a get request at this url - /assets/example.png

      // Because the assets/images folder gets generated along with a new 3.1 app, this is the convention that they probably want you to follow. I think that's where image_tag will look for it, but I haven't tested that yet.
      //You'll want to change the extension of your css file from .css.scss to .css.scss.erb and do:

      // background-image:url(<%=asset_path "no-bg-elements/wall-side-nobg.png"%>);
      // You may need to do a "hard refresh" to see changes. CMD+SHIFT+R on OSX browsers.

      // In production, make sure

      // rm -rf public/assets    
      // bundle exec rake assets:precompile RAILS_ENV=production
      // happens upon deployment.

      // Share
      // Improve this answer


      function getElPos() {
        var contPos = imgCont.getBoundingClientRect();
        return contPos
       }
      window.onscroll = function()  {
        stickyScroll()
       };

      var changedImage = false; 
      var flippedImage = false;

      function stickyScroll() {

        var {x, y, top, right, bottom, left, width, height  } = getElPos();
        var scrollTop = document.body.scrollTop || document.documentElement.scrollTop;
        // var elContY = imgCont.offsetTop;
        console.log('scrollTop');
        console.log(scrollTop)
        console.log('logged scrollTop');
        
        if ( skinnyDevice.matches? scrollTop < 50 : scrollTop < 50 ) {
          console.log('scrollTop > 50');
          // imgCont.style.position = 'static';
          console.log(changedImage);
          if (changedImage == true) {
            console.log('changing image below-----------');
            console.log(changedImage)
            imgEl.src = imgWallSide;
            changedImage = false; 
            console.log(changedImage)
            setTimeout(function(){
              imgEl.classList.remove('flipped');
              flippedImage = false;
            }, 1000);  
          }
        }
        
        if ( skinnyDevice.matches? scrollTop > 100 : scrollTop > 100 ){
          console.log(x, y);
          console.log(width, height);
          console.log('scrollTop > 100');
          imgEl.src = imgWallAngleFront;
          changedImage = true;
        }
        if (skinnyDevice.matches? scrollTop > 200 : scrollTop > 150){
          console.log('psition > 200/150');
          imgEl.src = imgWallFrontFull;
          console.log(imgEl.src);
        }
        if (skinnyDevice.matches? scrollTop > 300 : scrollTop > 200 ) {
          if (flippedImage && !imgEl.classList.contains('flipped')) {
            imgEl.classList.add('flipped');
          }
          console.log('scrollposition > 300/200') ;
          imgEl.src = imgWallFront;
          console.log(imgEl.src);
        }
        if (skinnyDevice.matches? scrollTop > 350 : scrollTop > 250) {
        console.log('changing position to static after 350/250 scrolltop')
            if (imgEl.classList.contains('flipped')) {
              imgEl.classList.remove('flipped');
            }
            imgEl.src = imgWallLabeled;
            imgEl.style.width = 
            console.log(imgEl.src);
        }
        if (skinnyDevice.matches? scrollTop > 400 : scrollTop > 300) {
          flippedImage = true;
        }
      }
  </script>