  <%# <div class="centered"> %>

    <div class="top-cont">
      <div class="container">
    <%= link_to root_path do %>
      <%# <img class="logo" src="/images/SigmasCoin.png" /> %>
      <%#= image_tag("SigmasCoin.png", class:"logo") %>
      <p class="name d-none">Segura Construction Co</p>
      <% end %>  

       <% if user_signed_in? %>
        Signed in as <%= current_user.email %>. Hello <%= current_user.full_name%> 
    <% end %> 
    </div>
      <h1>Segura Construction Co,
        Pour<b> professional commercial</b> concrete retaining walls. 
      </h1>
       <p>commercial + residential RETAINING WALLS </p>

 <h4>commercial + residential <h4>
 <h3>Concrete Retaining Walls </h3>
 <h4>High Performance </h4>
 <h5>Unparalled strength </h5>
 <h5>up to 30000 lbs of lateral resistane<h5>

      <h3> With over 30 years of experience we offer unmatched quality cast in place retaining walls for medium and large scale commercial and residential projects. 
      </h3>

      <div class="container top-img" style="background-image: url(<%= asset_path 'retaining-wall-curved' %>);border: 2px dashed red;width: 100vw;">
    <%= image_tag("retaining-wall-curved-inside.jpg", {:style => "width:100%;margin-top: 5rem; margin-bottom: 5rem;display:none;"}) %>
            
          <div class="text-container">
            <p class="title" style="display: none;">Sigmas Coin </p>
         
           <!-- <img class="img-fluid logo" 
                         id="coin-img" src="../../images/SigmasCoin.png" alt="sigmas" />
                         -->
            <h1 class="intro top fadeInLong" style="background: blue; border-radius: 6px;width: 80%; margin: auto;" >Segura Construction Co,</h1>
            
            <svg id="ico-arrow-large" viewBox="0 0 24 24" width="100%" height="100%">
  <g fill="none" fill-rule="evenodd">
    <path d="M5 13h11.17l-4.88 4.88c-.39.39-.39 1.03 0 1.42.39.39 1.02.39 1.41 0l6.59-6.59a.996.996 0 0 0 0-1.41l-6.58-6.6a.996.996 0 1 0-1.41 1.41L16.17 11H5c-.55 0-1 .45-1 1s.45 1 1 1z" fill="currentColor"></path>
  </g>
</svg>
            <h1 class="intro" >Steel Reinforced Concrete Retaining Walls</h1>
            <p class="subtitle" id="js-rotating">Medium &Large Scale Commercial + Residential Projects<span class="text-nowrap">&nbsp;&nbsp;&nbsp;&nbsp;Pour in Place industry best practices </span> <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;30+ years of industry expertise<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
              <!-- supporting green solutions. -->
            </p>

          </div>
          </div>
      <a class="btn-primary"> get quote</a>

     <button class="btn-light">get quote</button>

     <button class="btn-dark">get quote</button>
    <!-- <img class="logo" src="/images/Sigma_logotype_var_09 copy.png" /> -->
       <%#= video_tag "/videos/Sigmas_Coin.mp4" , poster:'ScreenShot-sigmas-video.png', class:'video', controls:true %>
        
    <%# </div> %>
  </div>
  
  <div class="container-short">
    
 <%#= render "shared/new" %>

      <li><i class="fas fa-map-marker-alt"></i><a href="index.html#hoursMap"> 234 Concrete Blvd, Hot Springs Ar 71901 US</a></li>


                        <li><i class="fas fa-phone"></i><a class="" href="tel:15015208571">+1-101-444-2222</a></li>
  </div>


      
                        <!-- <li><i class="fas fa-envelope"></i><a class="" href="mailto:office@myzoomauto.com">office@myzoomauto.com</a></li> -->
  <!-- Contact -->

        <div class="container">
         
             
            <%# <!- Contact Form  %>
         <% if user_signed_in? %>
    <h3>Add a project using this project form </h3>
    <%= render 'shared/project'%>


    <% else %>
       <h2> Create a free account first or log in to create a project and get an estimate</h2>
       <%= render 'shared/sign_up_create'%>
  <br>
 
     <%# <%= render 'shared/project'%>
      <%# <p>Register or Log in to submit a project, schedule it, check its progress and receive an estimate via email/call</p> %>
        <%= link_to 'Register', new_user_registration_path %>  or <%= link_to 'Sign in', new_user_session_path %>
    <% end %> 
           

                 
                </div> <!-- end of col -->
           <!-- end of row -->
             
        
        <!-- end of container -->
     <!-- end of form -->
    <!-- end of contact -->


  <div class="social-media-links footer centered d-none">
    <span class="fa-stack">
      <a href="https://www.facebook.com">
      <%#= image_tag("/icons/icon-facebook-round.png", class:"social-media-img") %>
        <%# <img class="social-media-img" src="images/icons/icon-facebook-round.png"> %>
      </a>
    </span>
    <span class="fa-stack">
      <a href="#your-link">
        <%# <img class="social-media-img" src="images/icons/twitter.png"> %>
        <%#= image_tag("/icons/twitter.png", class:"social-media-img") %>
      </a>
    </span>
    <span class="fa-stack">
      <a href="#your-link">
      <%#= image_tag("/icons/icon-youtube.png", class:"social-media-img") %>
        <%# <img class="social-media-img" src="images/icons/icon_youtube.png"> %>

      </a>
    </span>
    <span class="fa-stack">
      <a href="#your-link">
      <%#= image_tag("icons/icon_instagram2.png", class:"social-media-img") %>
        <%# <img class="social-media-img" src="images/icons/icon_instagram2.png"> %>

      </a>
    </span>
    <!-- <a href="https://www.instagram.com/sigmasbank/" target="_blank"><img class="logo" src="/images/instagram.png"/></a>
                    <a href="https://www.facebook.com/sigmasbank/" target="_blank"><img class="logo" src="/images/facebook.png"/></a>
                    <a href="https://www.youtube.com//sigmasbank/" target="_blank"><img class="logo" src="/static/youtubelogo.png"/></a>
                    <a href="https://www.twitter.com//sigmasbank/" target="_blank"><img class="logo" src="/static/twitterlogo.png"/></a>
                     -->
  </div>

  <!--<a href="sigmasbank@gmail.com" style="color: white; font-size: 1rem;" target="">sigmasbank@gmail.com</a>-->
  
  
  <!-- <p class="copyright centered" style="color: black;">Copyright © 2021 <a>Wall Street Construction Co</a> <br> - All rights reserved -</p>
  -->
  
  <%#= render 'shared/copyright' %>
  

<%# </div> %>


